.full-screen-gradient-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999; /* Ensure it's on top */
  pointer-events: none; /* Allow clicks through */

  /* Oval-shaped radial gradient */
  background: radial-gradient(
    ellipse at center,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 1) 80%
  );

  /* Adjust aspect ratio for more oval shape */
  transform: scaleX(1); /* Stretch horizontally */
}

/* Sliding Overlay Animation */
.animation-overlay {
  top: -11px;
  z-index: 10;
  width: 100%;
  min-height: 100%;
  position: absolute;
  overflow: hidden;
  background-color: white;
  pointer-events: none; /* Allow clicks to pass through */
}
.animation-overlay > * {
  pointer-events: none;
}

.overlay-scroll {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 1440px;
  margin-bottom: 20px;
}
