/* Gallery Navbar Styles */

.page-container {
  /* height: 100vh; */
  width: 100%;
  padding: 210px 40px 0 40px;
  background: #ffff;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  scroll-snap-stop: always;
}

/* Main Content */
.main-content {
  align-self: center;
  width: fit-content;
  width: 1320px;
  max-height: 836px;
  position: relative;
}

.masonry-container {
  column-count: 4;
  column-gap: 20px;
  max-width: 1280px;
  margin: 12px auto;
  border: 1px solid white;
  background: white;
}

.masonry-item {
  break-inside: avoid;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.image-container {
  position: relative;
  overflow: hidden;
  /* box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
  /* transition: all 0.3s ease; */
  background: transparent;
}

.gallery-image {
  width: 100%;
  height: auto;
  display: block;
  /* transition: all 0.3s ease; */
  /* opacity: 0; */
}
/* 
.gallery-image.loaded {
  opacity: 1;
} */

.image-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--black-linear-gradient);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.4s ease;
  pointer-events: none;
}
.masonry-item:hover .image-overlay {
  opacity: 1;
  transform: translateY(0%);
  pointer-events: auto;
}
.image-overlay-left {
  color: white;
}

.image-overlay.visible {
  opacity: 1;
}

.image-overlay-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.image-overlay-right img:hover {
  scale: 0.8;
  transition: all 0.2s ease;
}
